<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://broadlandersapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a7b14ff5-6e1e-4c4e-92ff-e6e1191f60df/resourceGroups/Broadlanders/providers/Microsoft.Web/sites/BroadlandersApi</ResourceId>
    <UserName>$BroadlandersApi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://broadlandersapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>